.output {
    margin-top: 25px;
}

.letters {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.letter {
    padding: 0 20px 0 20px;
}

.letter img {
    width: 100px;
}

.letterChar {
    text-transform: uppercase;
}
